<launch>
    <node pkg="eac_pkg" type="stm32_node" name="stm32_node"/>
    <include file="$(find lslidar_driver)/launch/lslidar_serial.launch"/>
    <node pkg="tf2_ros" type="static_transform_publisher" args=" 0 0 0 2.97 0 0 base_link laser" name="laser_tf_node"/>
    <node pkg="tf2_ros" type="static_transform_publisher" args=" 0 0 0 0 0 0 odom map" name="odom_tf_node"/>
    <node pkg="map_server" type="map_server" name="map_server" args=" /home/khadas/map.yaml"/>
    <node pkg="diff_drive" type="diff_drive_odometry" name="diff_drive_odometry">
        <param name="ticks_per_meter" value="1739"/>
        <param name="wheel_separation" value="0.155"/>
    </node>
    <!--<include file="$(find eac_pkg)/launch/amcl_diff.launch"/>-->
    <include file="$(find eac_pkg)/launch/move_base.launch"/>
</launch>
